:root {
  --blue: #56aafe;
  --lightBlue: #90ddff;
  --lightBlue2: #add4e5;

  --green: #3e8d88;
  --lightGreen: #e6f4f1;
  --lightGreen2: #bbe8ed;
  --white: #ffffff;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--lightBlue2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 1em;
  left: 0;
  top: 0;
}
.logo-contianer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.logo {
  display: block;
  background-color: var(--green);
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 2.5em;
  text-decoration: none;
}
.logo:hover {
  background-color: var(--blue);
}

.side-links {
  display: flex;
  width: 100%;
  height: 83%;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  overflow-y: scroll;
}
.side-link {
  color: var(--blue);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em;
  word-wrap: break-word;
  text-align: center;
}
.side-link:hover {
  background-color: var(--blue);
  color: var(--lightBlue);
  border-radius: 1em;
}
.main-area {
  width: calc(100% - 200px);
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.navbar {
  width: 100%;
  height: 15%;
  background-color: var(--lightGreen);
}
.categories,
.sub-categories {
  width: 100%;
  height: 50%;
  background-color: var(--lightGreen);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 1em;
}

.nav-link {
  color: var(--green);
  padding: 0.2em 0.5em;
  font-size: 2em;
  margin-left: 20px;
  text-decoration: none;
}
.nav-link:hover {
  color: white;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  background-color: var(--green);
}
.subnav-link {
  font-size: 1.5em;
}

.show-area {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGreen2);
}
.subCards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.sub-category-card {
  width: 30%;
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(103, 166, 162, 1) 0%,
    rgba(187, 232, 237, 1) 100%
  );
  border-radius: 1em;
}

.sub-category-card:hover {
  border: 2p solid red;
  background-color: var(--lightBlue);
}

.videos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  overflow-y: scroll;
}
.videoCard {
  margin: 1em;
  width: 45%;
  height: 45%;
}
video {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.images {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0 1em;
  overflow-y: scroll;
}
.images {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 2em;
  font-size: 150%;
}
.a {
  width: 75%;
}
.b {
  width: 40%;
}
.b1 {
  width: 40%;
}
.c {
  width: 40%;
}
.d {
  width: 55%;
}
.active {
  background-color: var(--blue);
  color: white;
  border-radius: 1em;
}
.active-green {
  background-color: var(--green);
  color: var(--lightGreen);
  border-radius: 1em;
}

.none {
  display: none;
}

img {
  width: 100%;
}
img:hover {
  transform: scale(0.9);
  border-radius: 1em;
  border: 10px solid var(--green);
}
